{% load i18n admin_urls static admin_modify %}
{% load i18n %}
{% load admin_urls %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                    {% if opts.model_name == "sampleinfoform" %}
                    {% if field.field.name == "file_teacher" %}
                        {% if "合作伙伴" in group_id %}
                         <a href="{% static 'modelform/老师上传信息单.docx' %}" style="color: #54a3ff">老师信息模板下载</a>
                            {% endif %}
                    {% endif %}
                    {% endif %}
                    {% if field.field.name == "note_receive" %}
                        {{ group_id }}
                    {% if "实验部"  in group_id %}
                        <hr>
                        <li style="padding:4px;height: 26px;line-height: 66px"><a href="{% static 'modelform/实验室上传样品详情.xls' %}" style="color: #c9302c">实验室信息模板下载</a></li>
                        <ul class="object-tools"><li style="padding:4px;height: 26px;line-height: 26px;left: 30px" ><a href='{% url opts|admin_urlname:"import" %}' class="import_link">{% trans "Import" %}</a></li></ul>
                    {% endif %}
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
